/* Google Font - Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0px auto;
    padding: 0px;
    max-width: 1440px;
}

/* nav bar  */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 154px 0px 90px;
}

nav a {
    text-decoration: none;
    margin-right: 55px;
    font-size: 17px;
    font-weight: 400;
    color: #212832;
}

#sign-up {
    margin-right: 55px;
    padding: 9px 22px;
}

#En {
    margin-right: 7px;
}

/* banner section */

.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 155px;
    margin-right: 110px;

}

.text {
    margin-top: 134px;
}

#text1 {
    color: #DF6951;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
}

#text2 {
    color: #181E4B;
    font-family: Volkhov;
    font-size: 78px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 30px;
}

#text3 {
    margin-top: 0px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
    width: 477px;
}

.bannerButton {
    display: flex;
    margin-top: 34px;
    margin-left: -100px;
}

.bannerButton img {
    margin-left: -40px;
    margin-right: 21px;
    width: 55px;
    height: 55px;
}

.bannerButton p {
    margin-top: 15px;
    margin-left: -8px;
    color: #686D77;
    font-size: 17px;
    font-weight: 400;
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background: #F1A501;
    border: none;
}

.bannerImage {
    margin-top: 27px;
    width: 765px;
    height: 764px;
}

/* catagory section  */

.catag {
    margin-top: 105px;
    margin-bottom: 0px;
    color: #5E6282;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.offer {
    margin-top: 10px;
    color: #14183E;
    text-align: center;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
}

.catagoryItems {
    display: flex;
    margin: 68px 155px 0px 95px;
    justify-content: space-between;

}

.infoTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1E1D4C;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
}

.infoDescription {
    color: #5E6282;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

/* top selling section  */

.topSelling p {
    margin-top: 150px;
    margin-bottom: 8px;
    color: #5E6282;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.topSelling h3 {
    margin-top: 0px;
    margin-bottom: 80px;
    color: #14183E;
    text-align: center;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
}

.topsell {
    display: flex;
    margin: 0px 180px 0px 125px;
    justify-content: space-between;
}

.sellImg {
    width: 314px;
    height: 457px;
    margin-bottom: 0px;
}

.sellDetails1 {
    display: flex;
    gap: 103px;
    padding-left: 20px;
}

.sellDetails2 {
    display: flex;
    gap: 120px;
    padding-left: 20px;
}

.sellDetails3 {
    display: flex;
    gap: 132px;
    padding-left: 20px;
}

.name {
    color: #5E6282;
    font-size: 18px;
    font-weight: 400;
}

.view {
    color: #5E6282;
    font-size: 18px;
    font-weight: 400;
}

.tripTime {
    display: flex;
    padding-left: 20px;
}

.tripTime img {
    margin-top: 0px;
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.tripTime p {
    margin-top: 0px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
}

.tripDetails {
    margin-top: -7px;
    width: 314px;
    height: 100px;
    border-radius: 0px 0px 24px 24px;
    background: #f5f3f3;
}

/* book next trip  */

.nextTrip {
    display: flex;
    margin: 180px 75px 0px 20px;
    justify-content: space-around;
}

.booksteps p {
    margin-bottom: 15px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
}

.booksteps h4 {
    margin-top: 0px;
    margin-bottom: 16px;
    color: #14183E;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
}

.steps {
    display: flex;
    margin-left: -18px;
}

.steps img {
    margin-top: 42px;
    margin-bottom: 0px;
    width: 47px;
    height: 48px;
}

.tripText {
    margin-top: 31px;
    margin-bottom: 4px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 700;
}

.tripDescription {
    margin-top: 0px;
    margin-bottom: 8px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
}

.tripGreece img {
    margin-bottom: 0px;
    width: 321px;
    height: 161px;
    border-radius: 24px;
}

.tripGreece {
    margin-top: 100px;
    background: #edf0ef;
    border-radius: 26px;
    width: 322px;
    height: 130px;
    padding: 20px 25px 219px 25px;
}

.tripGreece h6 {
    margin-top: 12px;
    margin-bottom: 13px;
    color: #080809;
    font-size: 18px;
    font-weight: 400;
}

.tripGreece p {
    margin-top: 0px;
    margin-bottom: 14px;
    color: #84829A;
    font-size: 16px;
    font-weight: 400;
}

.tripIcon img {
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 0px;
    width: 14px;
    height: 14px;
}

.peopleGoing {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0px;
}

.peopleGoing img {
    margin-top: 3px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.peopleGoing p {
    margin-right: 140px;
    color: #84829A;
    font-size: 16px;
    font-weight: 400;
}

/* testimonials section  */

.testimonials {
    display: flex;
}

.about p {
    margin: 209px 0px 10px 0px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
}

.about h4 {
    margin: 0px 0px 82px 0px;
    color: #14183E;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
}

.about img {
    width: 87px;
    height: 12px;
}

.aboutImg {
    margin-top: 214px;
    width: 68px;
    height: 68px;
}

.aboutDetails {
    margin-left: -150px;
}

.details {
    margin-top: 276px;
    margin-bottom: 34px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
    width: 402px;
}

.kawser {
    margin-bottom: 5px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 600;
}

.address {
    margin-top: 0px;
    color: #5E6282;
    font-size: 14px;
    font-weight: 400;
}

/* logo  */

.logo {
    display: flex;
    margin: 112px 145px 0px 85px;
    justify-content: space-around;
}

/* subscribe section  */

.subscribe {
    display: flex;
}

.subsxribeDescription {
    margin-top: 124px;
    margin-left: 160px;
    width: 1070px;
    height: 407px;
    border-radius: 80px 20px 20px 20px;
    background: #eeecf1;
}

.subscribeImg {
    margin-top: 95px;
    margin-left: -200px;
    width: 70px;
    height: 70px;
}

.subscribe p {
    color: #504b4b;
    text-align: center;
    font-size: 29px;
    font-weight: 700;
    padding: 79px 144px 0px 145px;
}

.email {
    margin-left: 240px;
    margin-top: 70px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    width: 421px;
    height: 68px;
    border-radius: 10px;
    background: #FFF;
    border: none;
}

.email img {
    margin-right: 14px;
    margin-left: -230px;
    width: 22px;
    height: 18px;
}

.subscribebtn {
    margin-left: 20px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    width: 150px;
    height: 63px;
    border-radius: 10px;
    background: var(--gradient, linear-gradient(180deg, #FF946D 0%, #FF7D68 100%));
    border: none;
}

/* footer section */

.footer {
    display: flex;
    margin: 166px 160px 0px 115px;
    justify-content: space-around;
}

.jadoo h6 {
    margin-top: 0px;
    margin-bottom: 19px;
    color: #181E4B;
    font-size: 44px;
    font-weight: 400;
}

.jadoo p {
    margin-top: 0px;
    color: #5E6282;
    font-size: 13px;
    font-weight: 400;
}

.company h6 {
    margin-top: 0px;
    margin-bottom: 34px;
    color: #080809;
    font-size: 21px;
    font-weight: 700;
}

.company p {
    margin-top: 0px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 400;
}

.contact h6 {
    margin-top: 0px;
    margin-bottom: 34px;
    color: #080809;
    font-size: 21px;
    font-weight: 700;
}

.contact p {
    margin-top: 0px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 400;
}

.more h6 {
    margin-top: 0px;
    margin-bottom: 34px;
    color: #080809;
    font-size: 21px;
    font-weight: 700;
}

.more p {
    margin-top: 0px;
    color: #5E6282;
    font-size: 18px;
    font-weight: 400;
}

.socialImg {
    margin-bottom: 0px;
    display: flex;
    margin-right: 25px;
}

.social p {
    margin-top: 26px;
    margin-bottom: 16px;
    color: #5E6282;
    font-size: 20px;
    font-weight: 400;
}

.appstore {
    display: flex;
    margin-top: 0px;
    margin-bottom: 50px;
}

#playStore {
    margin-right: 10px;
}

.copyright {
    color: #5E6282;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 70px;
}