/* Google Font - Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

/* nav bar  */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 154px 0px 140px;
}

nav a {
    text-decoration: none;
    margin-right: 55px;
    font-size: 17px;
    font-weight: 400;
    color: #212832;
}

#sign-up {
    margin-right: 55px;
    padding: 9px 22px;
}

#En {
    margin-right: 7px;
}

/* banner  */

.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 110px;

}

.text {
    margin-top: 134px;
}

#text1 {
    color: #DF6951;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    text-transform: uppercase;
}

#text2 {
    color: #181E4B;
    font-family: Volkhov;
    font-size: 84px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 30px;
}

#text3 {
    margin-top: 0px;
    color: #5E6282;
    font-size: 16px;
    font-weight: 400;
    width: 477px;
}

.bannerImage {
    margin-top: 27px;
    width: 765px;
    height: 764px;
}